{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "app": "./app",
          "images": "./app/assets/images",
          "component": "./app/component",
          "screen": "./app/screen",
          "ui": "./app/ui",
          "util": "./app/util"
        },
        "root": [
          "./"
        ]
      }
    ]
  ],
  "presets": [
    "react-native"
  ]
}
